<div class="card flex justify-content-start">
    <p-button class="py-2" size="small" (click)="showDialog()" label="Show"></p-button>
    <p-dialog header="Header" [(visible)]="visible" [style]="{width: '30vw'}">
        <div class="flex justify-content-center">
            <form [formGroup]="formEmployee" (ngSubmit)="onSubmit()">
                <div class="field px-4">
                    <label for="firstName">First name: </label>
                    <input class="p-2 w-full" id="firstName" type="text" pInputText name="firstName" formControlName="firstName" required>
                </div>
                <div class="field px-4">
                    <label for="lastName">Last name: </label>
                    <input class="p-2 w-full" id="lastName" type="text" pInputText name="lastName" formControlName="lastName" required>
                </div>
                <div class="field px-4">
                    <label for="salary">Salary: </label>
                    <p-inputNumber class="p-2 w-full" size="small" [showButtons]="true" id="salary" name="salary" inputId="integeronly" formControlName="salary" required></p-inputNumber>
                </div>
                <p-divider class="py-4"></p-divider>
                <div class="flex justify-content-center">
                    <div class="field grid">
                        <div class="field col">
                            <p-button severity="success" [raised]="true" type="submit" [disabled]="!formEmployee.valid">Salvar</p-button>
                        </div>
                        <div class="field col">
                            <p-button class="p-button-text" severity="danger" [raised]="true" [text]="true" type="button" (click)="hideDialog()">Cancelar</p-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </p-dialog>
</div>

<p-divider></p-divider>

<div class="flex justify-content-center">
    <p-table styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines" [value]="employees" [tableStyle]="{ 'width': '65rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Salario</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-emp>
            <tr>
                <td>{{ emp.id }}</td>
                <td>{{ emp.firstName | uppercase }}</td>
                <td>{{ emp.lastName | uppercase }}</td>
                <td>{{ emp.salary | currency: 'BRL' }}</td>
                <td>
                    <div style="text-align: center; width: 100%;">
                        <button type="button" class="p-button-rounded p-button-success p-button-sm" severity="secondary" pButton pRipple icon="pi pi-pencil" (click)="edit(emp)"></button>
                    </div>
                </td>
                <td>
                    <div style="text-align: center; width: 100%;">
                        <button type="button" class="p-button-rounded p-button-warning p-button-sm" severity="danger" pButton pRipple icon="pi pi-trash" (click)="confirm(emp)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>